html, body {
 margin:0;
 border:0;
 padding:0;
 font-family: helvetica;
 color: white;
 overflow: hidden;
 -ms-touch-action: none;
 -moz-user-select:none;
}
div.centered {
 margin:auto;
 font-size:40px;
 width:20em; /* So we get about 10 words per line */
}
.slideCount {
 position: fixed;
 bottom: 1em;
 right: 2px;
 height:1.5em;
 width:8em;
 overflow:hidden;
}
.slideProgress
{
 background-color: green;
 width: 100%;
 min-height: 10px;
}
.slideCount select {
 color:white;
 background-color:#112;
 border-color:#112;
 border:none;
 font-size:1em;
 height:1.3em;
 width:10em;

 -webkit-appearance: none;
 border-radius:0;
 -webkit-border-radius: 0;
}
.padding {
 height: 60px;
}

/* My styling here */
body,
.content-holder {
 background: #223;
 background: -webkit-gradient(linear, left top, left bottom, from(#334), to(#112));
 background: -moz-linear-gradient(top,  #334,  #112);
 text-shadow: #000 0 -2px 0;
}
.bg {
 position:absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 opacity:0.01;
 z-index:-1;
}
code {
    color: rgb(235, 174, 108);
}
.for-print .content-holder {
     width: 100%;
     height: 100%;
     border-collapse: collapse;
}
.for-print .content-holder.template { display:none; }
@media screen {
    .for-print { display:none; }
}
@media print {
    .for-screen { display: none; }
}
@media only screen and (max-width: 768px) {
    .centered {
        -ms-zoom: 0.8;
        zoom: 0.8;
    }
}
@media only screen and (max-width: 480px) {
    .centered {
        -ms-zoom: 0.5;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 320px) {
    .centered {
        -ms-zoom: 0.35;
        zoom: 0.35;
    }
}
