@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600&subset=latin,latin-ext);

html, body {
 margin:0;
 border:0;
 padding:0;
 font-family: 'Open Sans', sans-serif;
 color: #444;
 overflow: hidden;
 -ms-touch-action: none;
 -moz-user-select:none;
}
div.centered {
 margin:auto;
 font-size: 40px;
 width:20em; /* So we get about 10 words per line */
}
.slideCount {
 position: fixed;
 bottom: 0.5em;
 right: 10px;
 width:8em;
 overflow:hidden;
}
.slideProgress
{
 background-color: #999;
 width: 100%;
 min-height: 3px;
}
.slideCount select {
 display: none;
 border:none;
 font-size:1em;
 height:1.3em;
 width:10em;
 -webkit-appearance: none;
 border-radius:0;
 -webkit-border-radius: 0;
}
.padding {
 height: 60px;
}

/* My styling here */
body,
.content-holder {
 background: #fff;
}
.bg {
 position:absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 opacity:0.01;
 z-index:-1;
}
code {
    color: rgb(235, 174, 108);
}

li {
  list-style: circle;
}

h1,h2,h3,h4,h5,h6 {
  color: #00adee;
  font-weight: normal;
}

@media print {
    .for-screen { display: none; }
}
@media only screen and (max-width: 768px) {
    .centered {
        -ms-zoom: 0.8;
        zoom: 0.8;
    }
}
@media only screen and (max-width: 480px) {
    .centered {
        -ms-zoom: 0.5;
        zoom: 0.5;
    }
}
@media only screen and (max-width: 320px) {
    .centered {
        -ms-zoom: 0.35;
        zoom: 0.35;
    }
}
