body {
 border: 0px; 
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 height: 100%;
 -ms-touch-action: none;
 -moz-user-select:none;
}

#content {
  position: relative;
  height: 100%;
  font-size: 1.5em;
  padding: 15% 5% 0% 5%;
  margin: auto;
  width: 25em;
}

#progress {
  max-width: 100%;
  height: 2px;
  bottom: 5px;
  position: absolute;
}

h1 {
  font-size: 2.2em;
}

ul > li {
  list-style: none;
}

ul {
  padding-left: 0px;
}