body {
 border: 0px; 
 margin: 0px;
 padding: 0px;
 overflow: hidden;
 -ms-touch-action: none;
 -moz-user-select:none;
}

#content {
  position: relative;
  top: 20%;
  font-size: 2em;
  margin: auto;
  width: 20em;
}

#progress {
  max-width: 100%;
  height: 2px;
  bottom: 5px;
  position: absolute;
}

ul > li {
  list-style: none;
}

ul {
  padding-left: 0px;
}