@import url(common.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600&subset=latin,latin-ext);

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

#progress {
  background-color: #00adee;
}

code {
  color: #990088;
}

h1, h2, h3, h4, h5, h6 {
  color: #00adee;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: underline;
}